.title {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-40%, -60%);
  text-transform: uppercase;
  display: block;
  width: 100%;
}
.text1 {
  color: rgb(23, 146, 164);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8x;
  position: relative;
  margin-bottom: 2px;
  text-shadow: 2px 2px 3px rgb(16, 93, 105);
  animation: text 2.5s 1;
}
@keyframes text {
  0% {
    color: #000;
    margin-bottom: -50px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -50px;
  }
  80% {
    letter-spacing: 8px;
    margin-bottom: -50px;
  }
}
.text2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.619);
  text-shadow: 2px 2px 2px rgb(4, 4, 4);
}
.cards-wrapper {
  display: flex;
}
